.link-list{

}
.page-link{
text-decoration: none;
background-color: yellow;
padding: 10px;
color: blueviolet;
}

 .page-link:hover{
    background-color: blueviolet;
    color: yellow;
} 

.navigation{

}

.link-list li {
    display: inline-block;
    margin-top: 30px;
}