* {
    box-sizing: border-box;
    font-size: 16px;
}

ul {
    font-size: 0;
}

li {
    display: inline-block;
    background-color: red;
    padding: 10px;
    font-size: 1.5rem;
}

/*
1 em = 1 parent font-size
rem = relative em (root em)
1 rem = 1 font-size root
*/