p {
    position: relative;
    font-size: 20px;
    border: 1px solid black;
    color: blue;
}

p::first-letter {
    font-family: "Luxurious Script", cursive;
    font-size: 30px;
  }

  p::before{
    content: '\FF02';
    color: rgb(245, 7, 46);
    position: absolute;
  }

p::after {
  content: "\FF02";
  color: pink;
}


p::first-line {
    background-color: pink;
  }
  
