p {
    color: blue;
    font-size: 20px;
    border: 1px solid black;
    position: relative;
}

p::before {
    content: '\275D';
    color: red;
}

p::after {
    content: '\275E';
    color: green;
}