* {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.nav-list {
background-color: orangered;

}

.list-item {
    display: inline-block;
    position: relative;
    background-color: orangered;
    padding: 20px;
}

.link {
color: white;
text-decoration: none;
font-size: 20px;
width: 100px;
}

.sub-nav-list {
    position: absolute;
    display: block;
    top: 62.5px;
    left: 0;
}

.sub-list-item {
display: none;
background-color: orangered;
width: 110px;
padding: 20px;
}

.list-item:hover .sub-list-item  {
    display: block;
}

.sub-sub-list-item {
    background-color: orangered;
    width: 110px;
    padding: 20px;
}

.sub-sub-nav-list {
    position: absolute;
    display: block;
    left: 150px;
    top: 128px;
}



.sub-sub-sub-list-item {
    background-color: orangered;
    width: 110px;
    padding: 20px;
}

.sub-sub-sub-nav-list {
    position: absolute;
    display: block;
    left: 147px;
    top: 133px;
}
