* {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.list-item {
    display: inline-block;
    position: relative;
    padding: 20px;
}

.link {
color: white;
text-decoration: none;
font-size: 20px;
width: 100px;
}

.sub-nav-list {
    left: -7px;
}

.sub-list-item {
display: none;
padding: 20px;
}

.list-item:hover .sub-list-item  {
    display: block;
}

.sub-sub-nav-list {
top: 130px;
left: 160px;
}

.sub-sub-list-item {
display: none;
padding: 20px;
}

.sub-list-item:hover .sub-sub-list-item {
    display: block;
}

.sub-sub-sub-nav-list {
top: 130px;
left: 160px;
}

.sub-sub-sub-list-item {
display: none;
padding: 20px;
}

.sub-sub-list-item:hover .sub-sub-sub-list-item {
    display: block;
}

.sub-list-position {
    position: absolute;
    display: block;
    width: 160px;
}

.bg-c-orange {
    background-color: orangered;
}