.container {
    background-color: rgb(12, 123, 12);
    height: 800px;
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    background-color: dodgerblue;
    width: 80%;
    height: 800px;
}

.inner {
    text-align: center;
    font-size: 40px;
    width: 80px;
    height: 80px;
    background-color: yellow;
    border: 1px solid black;
}